@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base font size */
  --base-font-size: 16px;

  /* Scaled font sizes using the golden ratio */
  --font-size-lg: calc(var(--base-font-size) * 1.618); /* ≈ 26px */
  --font-size-xl: calc(var(--font-size-lg) * 1.618); /* ≈ 42px */
  --font-size-md: var(--base-font-size); /* 16px */
  --font-size-sm: calc(var(--base-font-size) / 1.618); /* ≈ 10px */
  --font-size-xs: calc(var(--font-size-sm) / 1.618); /* ≈ 6px */
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

p,
.body-text {
  font-size: var(--font-size-md);
}

.small-text {
  font-size: var(--font-size-sm);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
} */
/* 
p {
  color: #495057;
} */
