@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply font-body;
  }
}

:root {
  /* Base font size */
  --base-font-size: 16px;

  /* Scaled font sizes */
  --font-size-lg: calc(var(--base-font-size) * 1.618); /* ≈ 26px */
  --font-size-xl: calc(var(--font-size-lg) * 1.618); /* ≈ 42px */
  --font-size-md: var(--base-font-size); /* 16px */
  --font-size-sm: calc(var(--base-font-size) / 1.618); /* ≈ 10px */
  --font-size-xs: calc(var(--font-size-sm) / 1.618); /* ≈ 6px */
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

p,
.body-text {
  font-size: var(--font-size-md);
}

.small-text {
  font-size: var(--font-size-sm);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: calc(var(--font-size-xl) * 0.8); /* Slightly smaller on tablets */
  }

  h2 {
    font-size: calc(var(--font-size-lg) * 0.8);
  }

  p,
  .body-text {
    font-size: calc(var(--font-size-md) * 0.9); /* Slightly smaller on tablets */
  }

  .small-text {
    font-size: calc(var(--font-size-sm) * 0.9);
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: calc(var(--font-size-xl) * 0.7); /* Smaller on mobile */
  }

  h2 {
    font-size: calc(var(--font-size-lg) * 0.7);
  }

  p,
  .body-text {
    font-size: calc(var(--font-size-md) * 0.85); /* Smaller on mobile */
  }

  .small-text {
    font-size: calc(var(--font-size-sm) * 0.85);
  }
}

* {
  box-sizing: border-box;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
